---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "about"
---


<html lang="en">
	<BaseLayout pageTitle={pageTitle}>
        <h3>My name is Josh. This website currently serves as an archive of my thoughts, progress, & inspirations.</h3>
        <p>feel free to try and contact me at stanley dot jsh at google</p>
        <p>created with astro, hosted on netlify.</p>
    </BaseLayout>
</html>
