---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "about"
---


<html lang="en">
	<BaseLayout pageTitle={pageTitle}>
        <h3>I'm redoing everything in astro w/ netlify because I was inspired by lelouch.dev</h3>
    </BaseLayout>
</html>
