---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Miss ya, hope all is well :]";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Apologies for the poor design!</h2>
  <p>but now the backend design is better which means I am limited by my skill not my platform</p>

  <p>and the time I sink into learning and improving this site helps me with make things I'm happier with, instead of getting better at building cookie cutter template sites</p>
</BaseLayout>