---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Miss ya, hope all is well :]";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Apologies for the poor design!</h2>
  <p>but now the backend design is better which means I am limited by my skill not my platform</p>

  <p>typo'd this, I'm tired fix later</p>
</BaseLayout>