---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Excuse the mess";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>WIP</h2>

  <p>Many people are saying colors are hard to choose! Now I don't know if that's true but they're saying it.</p>
</BaseLayout>