---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "things that inspire me";
const pageSubtitle = "maybe they'll inspire you too"
---
<BaseLayout pageTitle={pageTitle} pageSubtitle={pageSubtitle}>
  <p>or give you insight into parts of me I have trouble communicating</p>
  <p><a href="https://bellard.org/">humble and functional</a><br>Frabrice Bellard - just read his wiki</p>
  <p><a href="https://lelouch.dev/">lelouch</a><br>maybe more of a grifter than I first thought, but the layout is nice & the anime ascii is peak</p>
  <p><a href="https://anapausal.com/">coolpilled, canucallmeback</a><br>certified IT girl, aesthetics, click the bunny</p>
  <p><a href="https://x.com/pharmaduke3000">Pharmaduke</a><br>RIP free & public api's</p>
  <p><a href="https://www.youtube.com/@mirahgirl01">ohhhh craigoryyyy</a><br>If you're reading this, I'm really sorry man</p>
  <p><a href="https://gravis.dev/">my boy Matt</a><br>taught me a lot, still does</p>
  <p><a href="https://www.youtube.com/watch?v=gscueLCaSm4&list=PLKCAdnakjhE0Bio-QHhGL5E_0S5yVRexL&index=2">Sunkist</a><br>passion is endearing</p>
  <p><a href="https://www.youtube.com/watch?v=Ao8c0f89lWg&list=PLKCAdnakjhE0Bio-QHhGL5E_0S5yVRexL&index=1">she took this well</a><br>gets me every time</p>
  <p><a href="https://www.youtube.com/watch?v=rWtsPSzxA-U&list=PLKCAdnakjhE0Bio-QHhGL5E_0S5yVRexL&index=5">maybe I'll get into art forms & things you give a shit about</a><br>you will never be the couple @ 37 seconds</p>
  <p><a href="https://www.youtube.com/watch?v=HY-3UdtDKwc&list=PLKCAdnakjhE0Bio-QHhGL5E_0S5yVRexL&index=6">real</a><br>so fucking real</p>
  <p><a href="https://x.com/NorthernIion_LP/status/1785862876999372944">rehtoric</a><br>and reason</p>
  <p><a href="https://x.com/humzhlol/status/1645217295382335493">league brain</a><br>you are amoung 0.006% of league players negative enough to be permanently banned</p>
  <p><a href="https://www.youtube.com/watch?v=BJ3kw3o9Hzs">this is me</a><br>trying to make anything</p>
  <p><a href="https://grovy.space/">impressive webdev</a><br>and artist, check the shop</p>
  <p><a href="https://archive.nytimes.com/opinionator.blogs.nytimes.com/2013/06/15/i-know-what-you-think-of-me/">I know what you think of me</a><br>placeholder</p>
  <p><a href="https://x.com/kkamabr/status/1477321358958903298">oranges</a><br>something about em</p>
  <p><a href="https://cwandt.com/">design</a><br>I would never create anything like this</p>
  <p><a href="https://www.onionlabs.net/en-ca">pixel art</a><br>finding beauty and joy in the mundane</p>
  <p><a href=""></a><br></p>
  <p><a href=""></a><br></p>
  <p><a href=""></a><br></p>
  <p><a href=""></a><br></p>

 
</BaseLayout>