---
import BaseLayout from "../layouts/BaseLayout.astro"
const allPosts = await Astro.glob('./progressReports/*.md');
const pageTitle = 'Progress Reports'
---

<html lang="en">
    <BaseLayout pageTitle={pageTitle}>
        <p>mostly about coding</p>
        {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </BaseLayout>
</html>
